header{
    position: sticky;
    top: 0;
    z-index: 3;
}
.image-text-container {
    position: relative;
    display: inline-block; /* Binds the image and text together into one unit. */
    }
.overlay-text {
    position: absolute;
    top: 50%; /* Centers text vertically relative to the container. */
    right: -40px; /* Align entire text to the right of the image, while also poking out. */
    margin-left: 20px; /* Floating effect */
    transform: translateY(-50%); /* Centers the text. */
    color: black; /* Text color. */
    padding: 10px; /* Spacing around the text. */
    border-radius: 5px; /* Makes the image's border rounded. */
    text-align: left; /* Align text to the left. */
    font-size: 1.2rem; /* Font size. */
    }
.custom-hr {
    width: 80%; /* Width assigned so that it doesn't touch the edges. */
    border: none; /* Removes the default border. */
    height: 2px; /* Line thickness. */
    background-color: #333; /* Color of the line. */
    margin: 20px auto; /* Centers the line.*/
    margin-top: -20px; /* Creates space between containers and the line. */
    }
.carousel-control-prev,.carousel-control-next {
    filter: invert(1); /* Flip colors to make the white arrows into black. */
    }
.custom-background{
    background-image: linear-gradient(to bottom, white, #b0c4de)
}